* {
    list-style: none;
    text-decoration: none;
}
nav ul li {
    position: relative;
    float: left;
    background-color: black;
    color: white;
}
nav ul li a {
    display: block;
    color: white;
    padding: 5px 10px;
}
nav ul li a:hover {
    background-color: rgb(56, 56, 56);
    transition: all 0.5s;
}
nav ul li ul {
    position: absolute;
    left: 0;
    background-color: black;
    display: none;
}
nav ul li ul li {
    width: 100%;
}
nav ul li:hover > ul {
    display: initial;
}



